@{
	Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeaderComponent")
<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponent")

		@await Component.InvokeAsync("_LayoutSidebarComponent")


		<div class="main-panel">

			@RenderBody()

			@await Component.InvokeAsync("_LayoutFooterComponent")
		</div>
	</div>
	@await Component.InvokeAsync("_LayoutScriptComponent")
</body>
</html>