@using WebAPI.Common.Result;
@using WebUI.ViewModels.Category;
@model CategoryUpdateModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" asp-action="Update" asp-controller="Category">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Kategori Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Kategori Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="CategoryName" id="categoryname">
                                <input type="text" asp-for="Status" id="status" style="display:none;">
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="card-action">
                            <button class="btn btn-primary" type="submit">Güncelle</button>
                            <button class="btn btn-outline-warning" asp-action="Index" asp-controller="Category">Geri Dön</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if ((ResponseType)TempData["responseType"] == ResponseType.Success)
{
    <script>
        Swal.fire({
            title: 'Güncelleme işlemi başarılı!',
            text: @Html.Raw(Json.Serialize(TempData["responseMessage"])),
            icon: 'success',
            confirmButtonText: 'Tamam'
        })
    </script>
}
else if ((ResponseType)TempData["responseType"] == ResponseType.Error)
{
    <script>
        Swal.fire({
            title: 'Güncelleme işlemi başarısız!',
            text: @Html.Raw(Json.Serialize(TempData["responseMessage"])),
            icon: 'error',
            confirmButtonText: 'Tamam'
        })
    </script>
}



